config KEYBOARD_NAME
    string
    prompt "Keyboard Name"
    default "Flash Keyboard"
    help
        This is the device's name that will be display.

config MANUFACTURER_NAME
    string
    prompt "Manufacturer Name"
    default "Hisilicon"
    help
        This is the device's manufacturer name that will be display.

config KEY_NUM
    int
    prompt "Number of Keys"
    default 12
    help
        How many keys on the keyboard

config BLE_DETECT_PIN
    int
    prompt "Detect Pin of BLE"
    default 11
    help
        Detect Pin of BLE

config SLE_DETECT_PIN
    int
    prompt "Detect Pin of SLE"
    default 12
    help
        Detect Pin of SLE
